

/* 가나초콜릿 */

@font-face {
   font-family: 'NEXON Lv1 Gothic OTF';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0 auto;
}


body {
   font-family: 'NEXON Lv1 Gothic OTF';
   font-style: normal;
   font-weight: normal;
}

section {
   padding: 0 10% 0 10%;
}

footer {
   border-top: 1px solid #999;
}

footer>div {
   display: flex;
}

.footer-menu>div {
   width: 30%;
}

.footer-copyright>div {
   width: 50%;
}

a:hover {
   text-decoration: none;
   font-weight: bold
}

/* 배너 */


.home_banner_box{
   overflow:hidden;
}


.home_banner_a{
   display:inline-block;
   padding-top : 20%;
   
}

.home_banner_a a{
   display:inline-block;
}



.banner {
   margin-bottom: 100px;
}

.banner>.banner-class>a {
   margin-top: 30px;
   float:left;
   display: inline-block;
   position: relative;
   z-index: 20;
   padding-left:30px;
   width:50%;
}

.banner-class-content {
   font-size: 15px;
}

.banner>.banner-class {
   margin:0 auto;
   width:80%;
   overflow:hidden;
}

.banner>.banner-class>a>h3, .banner>.banner-class>a>span {
   color: #000;
   margin: 0px;
}

.banner-class-name, .banner-class-content {
   display: flex;
   white-space: pre-line;
   -webkit-box-align: center;
   align-items: center;
   max-width: 380px;
   font-size: 34px;
   line-height: 44px;
   font-weight: bold;
   letter-spacing: -0.02rem;
   word-break: keep-all;
   animation-duration: 600ms;
   animation-fill-mode: both;
   transition-timing-function: cubic-bezier(0, 0.63, 0.35, 1.01);
   animation-name: none;
}

.banner-img {
   position: relative;
   margin-top: 50px;
   display: inline-block;
   float:left;
   z-index: 20;

}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.banner-img>img {
   border-radius: 10px;
   animation: fadeIn 1s linear;
   display:inline-block;
   width:100%;
}

.banner-background {
   
   display: inline-block;
   background-color: darkcyan;
   width: 100%;
   height: 450px;
   z-index: 10;
}

.banner-background img {
   filter: grayscale(20%);
   filter: blur(5px);
}

#charts {
   overflow:hidden;
}

#chart-container {
   
   float:left;
    min-width: 540px;
    max-width: 540px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#browser_cart {
   
   float:right;
   min-width: 540px;
    max-width: 540px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-effect {
   animation: fadein 2s;
   -moz-animation: fadein 2s;
   /* Firefox */
   -webkit-animation: fadein 2s;
   /* Safari and Chrome */
   -o-animation: fadein 2s;
   /* Opera */
}

@keyframes fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@-moz-keyframes fadein {
   /* Firefox */
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@-webkit-keyframes fadein {
   /* Safari and Chrome */
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@-o-keyframes fadein {
   /* Opera */
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

/* 클래스 강좌 */

section h3 {
   margin-top: 20px;
}